---
import '@/components/pages/index/Home.css'
import Page from '@/layouts/Page/Page.astro'
import Card, {
  type Props as LinkCardProps,
} from '@/components/pages/index/components/Card/LinkCard.astro'
import { reassemble } from '@/helpers'
import jsonData from '@/data.json'

const { pages } = jsonData

const linkCards = reassemble(
  pages,
  (_, { page, title, tags, color }): LinkCardProps => ({
    href: `/${page}`,
    title,
    tags,
    color,
  })
)
---

<Page>
  <div class="home">
    <ul>
      {linkCards.map(item => <Card {...item} />)}
    </ul>
  </div>
</Page>
